In [25]:
import pandas as pd

In [26]:
iris_df = pd.read_csv("iris.csv")

In [27]:
iris_df.shape

(150, 6)

In [28]:
iris_df.describe

<bound method NDFrame.describe of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [29]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [30]:
iris_df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [31]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [33]:
#What is the sepal length of the first flower in the dataset?
sepal_length_first_flower = iris_df.loc[0, 'SepalLengthCm']
print("Sepal length of the first flower:", sepal_length_first_flower)

Sepal length of the first flower: 5.1

In [38]:
#What is the species of the flower with the longest petal length?
max_petal_length_index = iris_df['PetalLengthCm'].idxmax()

species_of_longest_petal = iris_df.loc[max_petal_length_index, 'Species']

print("Species of the flower with the longest petal length:", species_of_longest_petal)

Species of the flower with the longest petal length: Iris-virginica

In [41]:
#How many flowers in the dataset have a sepal width greater than 3.5?
flowers_width_greater_than_3_5 = iris_df[iris_df['SepalWidthCm']>3.5]

number_of_flower_width_gt_3_5 = len(flowers_width_greater_than_3_5)

print("Number of flower width greater than 3.5 is",number_of_flower_width_gt_3_5)

Number of flower width greater than 3.5 is 18

In [56]:
#What is the mean petal width of the flowers classified as 'versicolor'
Iris_versicolor_flower =iris_df[iris_df['Species']=='Iris-versicolor']
mean_petal_width_versicolor =  Iris_versicolor_flower['PetalWidthCm'].mean()
print("Mean petal width of the flower is ",mean_petal_width_versicolor)

Mean petal width of the flower is  1.3259999999999998

In [58]:
#Which flower has the smallest sepal area (sepal_length * sepal_width)
iris_df['sepal_area']=iris_df['SepalLengthCm'] * iris_df['SepalWidthCm']

smallest_sepal_area_index = iris_df['sepal_area'].idxmin()

Flower_with_smallest_sepal_area = iris_df.loc[smallest_sepal_area_index]
print("Flower with smallest sepal area:")
print(Flower_with_smallest_sepal_area)

Flower with smallest sepal area:
Id                            61
SepalLengthCm                5.0
SepalWidthCm                 2.0
PetalLengthCm                3.5
PetalWidthCm                 1.0
Species          Iris-versicolor
sepal_area                  10.0
Name: 60, dtype: object

In [59]:
#How many flowers belong to the 'virginica' species?
virginica_flowers = iris_df[iris_df['Species']=='Iris-virginica']
num_virginica_flower = len(virginica_flowers)
print("Number of flowers belonging to the 'virginica' species:",num_virginica_flower)

Number of flowers belonging to the 'virginica' species: 50

In [65]:
#What is the maximum sepal length among flowers with a petal width less than 0.2?
temp = iris_df[iris_df["PetalWidthCm"] < 0.2]
print(temp["SepalLengthCm"].idxmax())

32

In [67]:
#What is the median petal length of the flowers with a sepal length between 5.5 and 6.5?
flowers_with_sepal_length_between_5_5_and_6_5 = iris_df[(iris_df['SepalLengthCm'] >= 5.5) & (iris_df['SepalLengthCm'] <= 6.5)]

median_petal_length_with_sepal_length_between_5_5_and_6_5 = flowers_with_sepal_length_between_5_5_and_6_5['PetalLengthCm'].median()

print("Median petal length of flowers with sepal length between 5.5 and 6.5:", median_petal_length_with_sepal_length_between_5_5_and_6_5)

Median petal length of flowers with sepal length between 5.5 and 6.5: 4.6

In [69]:
#What is the average sepal width of flowers with a petal length greater than 5 and a sepal length less than 6?
filtered_flower = iris_df[(iris_df['PetalLengthCm']>5) & (iris_df['SepalLengthCm']<6)]
average_sepal_width = filtered_flower['SepalWidthCm'].mean()
print('Average sepal width of flowers with a petal length greater than 5 and a sepal length less than 6 is',average_sepal_width)

Average sepal width of flowers with a petal length greater than 5 and a sepal length less than 6 is 2.8

In [70]:
#Which flower has the highest petal length to width ratio?
iris_df['petal_length_to_width_ratio'] = iris_df['PetalLengthCm'] / iris_df['PetalWidthCm']
max_ratio_index = iris_df['petal_length_to_width_ratio'].idxmax()
flower_with_highest_ratio = iris_df.loc[max_ratio_index]

print("Flower with the highest petal length to width ratio:")
print(flower_with_highest_ratio)

Flower with the highest petal length to width ratio:
Id                                      10
SepalLengthCm                          4.9
SepalWidthCm                           3.1
PetalLengthCm                          1.5
PetalWidthCm                           0.1
Species                        Iris-setosa
sepal_area                           15.19
petal_length_to_width_ratio           15.0
Name: 9, dtype: object